.container{
  width: 100%;
  margin: 0 auto;
  background: #004380;
  height: 100vh;
}
.header{
  display: flex;
  justify-content: flex-end;
  align-self: center;
  background: #004380;

}
.current-weather{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forecast,.favorites{
    background: #004380;
    padding: 20px;
    box-sizing: border-box;
}
.btn-add-favorite{
    width: 300px;
    border-radius: 0 0 6px 6px;
    background-color: #0d2242;
    color:#FFD10F; 
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fav-icon{
  color:red;
  margin-left: 10px;
}
.unfav-icon{
color:#0d2242;
margin-left: 10px;
}