.container{
  width: 100%;
  margin: 0 auto;
  background: #004380;
    height: 100vh;
}
.current-weather{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forecast,.favorites{
    background: #004380;
    padding: 20px;
    box-sizing: border-box;
}
.btn-add-favorite{
    width: 300px;
    border-radius: 0 0 6px 6px;
    background-color: #0d2242;
    color: yellow;
    border: none;
    padding: 10px;
}